/* App.css */

.wrapper {
    min-height: 100vh;
  }
  
  #sidebar {
    min-width: 80px;
    max-width: 250px;
    background: #222;
    color: #fff;
    transition: all 0.3s;
  }
 
  #sidebar.active {
    min-width: 250px;
  }
  
  .custom-menu {
    text-align: right;
    margin: 1rem;
  }
  
  .custom-menu button {
    cursor: pointer;
  }
  
  .img.bg-wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 150px;
  }
  
  .img .user-logo {
    overflow: hidden;
    margin: 20px auto;
  }
  
  .img h3 {
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-top: 10px;
  }
  
  .list-unstyled a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    transition: background 0.3s;
  }

  .icon-dashbord{
    font-size: 90px;
  }
  
  .hr{
    border: 2px solid white;
  }

  .list-unstyled a:hover {
    background: #444;
  }

  /* .list-unstyled li {
    height: 50px !important;
    padding-left: 30px;
    padding-top: 10px;
    cursor: pointer;
  } */

  .list-unstyled .active {
    background-color:#444;
  }

  .list-unstyled li:hover {
    background-color:#444;
  }

  .filter{
    border: 1px solid #7F7F7F !important;
    color: black;
  }

  .visually-hidden{
    display: none !important;
  }

  .form{
    border: 1px solid #7F7F7F !important;
  }
  
  .pg{
    text-align: center !important;
  }
  
  #content {
    flex: 1;
  }
  